<div class="alert alert-success" id="success-alert">
    <button type="button" class="close" onclick="alertClean()">x</button>
        <strong>Success! </strong>
        <ul></ul>
</div>
<div class="alert alert-danger" id="failed-alert">
    <button type="button" class="close" onclick="alertClean()">x</button>
        <strong>Alert! </strong>
        <ul></ul>
        
</div>
<script>
    var failedAlert = $("#failed-alert");
    var successAlert = $("#success-alert");
    function alertClean(){
      failedAlert.find('ul').html('');
      successAlert.find('ul').html('');
      failedAlert.hide();
      successAlert.hide();
    }
</script>