<div class="page-header">
<div class="grow-part">
  <img class="navbar-image" alt="Brand" src="/images/pizza.png"/> <h1>Happy Pizza World<small>Creat Your Own Pizza</small></h1>
</div>
  
  <div class="nav-showlist">
    <a href="/api/orders" > Show Orders</a>
  </div>
  <div class="nav-home">
    <a href="/" > Go Homepage</a>
  </div>
</div>