<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>

    <body >
      <div class="container">
        <header>
        <% include ./partials/header %>
        </header>
        <main>

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-1 col-xs-5">Crust</th>
      <th class="col-md-1 col-xs-4">Size</th>
      <th class="col-md-2 col-xs-3">Topping</th>
      <th class="col-md-1 col-xs-3">Quantity</th>
      <th class="col-md-1 col-xs-3">Telphone</th>
      <th class="col-md-1 col-xs-3">Address</th>
      <th class="col-md-1 col-xs-3">Cost</th>
      <th class="col-md-1 col-xs-3">Delive Time(Minutes)</th>
      <th class="col-md-2 col-xs-3">Create On</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody id="orders">
  </tbody>
</table>

        </main>
        <footer>
        <% include ./partials/footer %>
        </footer>
      </div>
      <script src="javascripts/ordersList.js"></script>
    </body>
</html>
